<div class="container-fluid p-5">
  <div class="row mb-5">
    <div class="col-md-12 text-center">
      <div *ngFor="let prop of propDetail">
        <h2 class="bold28 unique_green_100 mb-4">Units of {{prop.name}}</h2>
        <p class="light20 ocean_blue_100">Adrress: {{prop.address}}</p>
        <div class="input-group mb-3 col-md-6 offset-md-3">
          <input [(ngModel)]="searchUnit" class="form-control light20 unique_green_100 text-center shadow" placeholder="Search by unit floor, rent or number">
        </div>
        <ul class="list-group col-md-6 offset-md-3 list-background" *ngFor="let unit of prop.units | filter:searchUnit">
          <li class="list-group-item mb-2 box">
            Number: <span class="light20 unique_green_80">{{unit.number}}</span> Floor: <span class="light20 unique_green_80">{{unit.floor}}</span> Rent: <span class="light20 unique_green_80">{{unit.rent}}</span>
            <br>
            <button class="btn bg-dark light20 text-danger" (click)="requestIssue(prop._id, unit.number, true)" [swal]="['Oops!', 'We have raised an issue for this unit number ' + unit.number, 'warning']">Raise</button>
            <button class="btn bg-dark light20 unique_green_100" (click)="requestIssue(prop._id, unit.number, false)" [swal]="['Great!', 'Issue for the unit number ' + unit.number + ' has been deleted.', 'success']">Delete</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
